body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.listings{
    padding: 0;
    list-style: none;
    color:black;
    text-decoration: none;
    font-size: 12px;
    padding-right: 15px;
}
.button{
    background-color: #333;
    color:#fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background-color:darkred;
    color: #fff;
}

.center-wrapper{
    text-align: center;
}

#main-header{
    background-color:darkred;
    color: white;
}

#navbar{
    background-color:coral;
    color: white;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image: url('../images/showcase.jpg');
    background-position: center right;
    min-height:300px;
    margin-bottom: 30px;
    text-align: center;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type ="text"]{
    padding: 8px;
    width: 100%;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

/*Table is floating in the middle*/
.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

/*All text in the columns is in middle*/
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

/*Borders on sides*/
.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

/*Header color*/
.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}
