<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Game</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>This is a form for modifying a game and it's parts</h1>
        </div>
    </header>

    <section>
        <form id="my-form" action="/game/modify/{{ game[0] }}" method="post">
            <div class="form-group">
                <label for="gameName">Name of the game:</label>
                <input autofocus name="name" value="{{ game[1] }}"></div>
            <div>
                <section id="main">
                    <div class="table-wrapper">
                        <table id="fl-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Part</th>
                                    <th>Quantity</th>
                                    <th>Game ID</th>
                                    <th>ACtion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for part in parts %}
                                <tr>
                                    <td>{{ part[0] }}</td>
                                    <td>{{ part[1] }}</td>
                                    <td>{{ part[2] }}</td>
                                    <td>{{ part[3] }}</td>
                                    <td>
                                        <a href="/part/modify/{{ part[0] }}">
                                            <button class="button">Modify</button>
                                            <!-- How to not see the href link? -->
                                        </a>
                                        <a href="/part/delete/{{ part[0] }}">
                                            <button class="button">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="center-wrapper">
                        <a href="/part/add/{{ game[0] }}">
                            <button class="button">New Part</button>
                        </a>
                    </div>
                    <br>
                </section>
            </div>
            <input class="button" type="submit" value="Save">
        </form>
    </section>

    <footer id="main-footer">
        <p>Copyright &copy 2022 Dominykas Dulevicius</p>
    </footer>

</body>

</html>