<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game Submit Form</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}" />
</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>This is a form for inserting a new game</h1>
        </div>
    </header>

    <section>
        <form id="my-form" action="/game/add" method="post">
            <div class = "msg"></div>
            <div class="form-group">
                <label for="gameName">Name of the game</label>
                <input type="text" id="gameName" autofocus name="name">
            </div>
            <br>
            <input class="button" type="submit">
        </form>
    </section>
    <!-- <script src="main.js"></script> -->
</body>

</html>