<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Form</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>This is a form for inserting a new user</h1>
        </div>
    </header>

    <section>
        <form id="my-form" action="/user/add" method="post">
            <div class = "msg"></div>
            <div class="form-group">
                <label for="userName">Name of the user</label>
                <input type="text" id="userName" autofocus name="name">
            </div>
            <div class="form-group">
                <label for="userSurname">Surname of the user</label>
                <input type="text" id="userSurname" autofocus name="surname">
            </div>
            <div class="form-group">
                <label for="userNickname">Nickname of the user</label>
                <input type="text" id="userNickname" autofocus name="nickname">
            </div>
            <br>
            <input class="button" type="submit">
        </form>
    </section>
    <script src="main.js"></script>
</body>

</html>